/*==================== CAT ===================== */
:root {
    --black-cat-fur-colour: #33292b;
    --black-cat-skin-colour: #d36149;
    --black-cat-iris-colour: #d2873b;
    --black-cat-pupil-colour: #262626;

    --orange-cat-fur-colour: #FEAF2F;
    --orange-cat-fur-dark-colour: #C46019;
    --orange-cat-skin-colour: #8f4231;
    --orange-cat-iris-colour: white;
    --orange-cat-pupil-colour: #262626;

    --tabby-cat-fur-colour: #f3f3f3;
    --tabby-cat-fur-dark-colour: #FEAF2F;
    --tabby-cat-skin-colour: #d36149;
    --tabby-cat-iris-colour: white;
    --tabby-cat-pupil-colour: #262626;

    --grey-cat-fur-colour: #BDAEA9;
    --grey-cat-fur-dark-colour: #8F837E;
    --grey-cat-skin-colour: #d36149;
    --grey-cat-iris-colour: white;
    --grey-cat-pupil-colour: #262626;

    --popup-black-cat-fur-colour: #4B494E;
    --popup-black-cat-eye-colour: #F09D3F;
    --popup-black-cat-iris-colour: #4B494E;
    --popup-black-cat-nose-colour: pink;
    --popup-black-cat-hat-colour: #7bff47;
    --popup-black-cat-deco-colour: #9dfffa;

    --popup-grey-cat-fur-colour: #80858D;
    --popup-grey-cat-eye-colour: #95ABAD;
    --popup-grey-cat-iris-colour: #4B494E;
    --popup-grey-cat-nose-colour: pink;
    --popup-grey-cat-hat-colour: #47f9ff;
    --popup-grey-cat-deco-colour: #fc9dff;
}


/*==================== CAT IN WINDOW ===================== */
.cat-window-container {
    height: 530px;
    width: 350px;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.window {
    width: 250px;
    height: 390px;
    background-color: transparent;
    outline: 12px solid #2d2623;
    border-left: 5px solid #439abf;
    border-right: 5px solid #439abf;
    position: relative;
    top: 20px;
    left: 45px;
    /* box-shadow: 0 0 0 100vw #c9533e; */
    /* box-shadow: 0 0 0 100vw #136A7F; */
    /* box-shadow: 0 0 0 100vw #244268; */
    box-shadow: 0 0 0 200px #2B7F87;
}

/* MediaQueries */
@media only screen and (max-height: 915px) {
    .window {
        box-shadow: 0 0 0 100vh #2B7F87;
    }
}

.window::before,
.window::after {
    content: "";
    position: absolute;
    background: linear-gradient(#439abf 50%, #2d2623 50%);
}

.window::after {
    height: 15px;
    width: 260px;
    left: -5px;
    top: 200px;
}

.window::before {
    height: 15px;
    width: 310px;
    left: -30px;
    bottom: -15px;
}

.mountain-1 {
    height: 0;
    width: 0;
    border-bottom: 60px solid #22366d;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
}

.mountain-1::before,
.mountain-1::after,
.mountain-2::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 60px solid #22366d;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
}

.mountain-1::before {
    bottom: -60px;
    left: 5px;
}

.mountain-1::after {
    bottom: -60px;
    left: 35px;
}

.mountain-2 {
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 60px solid #22366d;
    border-left: 20px solid transparent;
    right: 0;
    bottom: 0;
}

.mountain-2::before {
    bottom: -60px;
    right: 10px;
}

.kitty {
    background-color: #2d2623;
    height: 140px;
    width: 50px;
    position: absolute;
    bottom: -15px;
    left: 95px;
    border-radius: 40px 40px 0 0;
}

.kitty:before {
    content: "";
    position: absolute;
    background-color: #2d2623;
    height: 80px;
    width: 40px;
    border-radius: 0 80px 80px 0;
    bottom: 0;
    left: 43px;
}

.kitty:after {
    content: "";
    position: absolute;
    background-color: #2d2623;
    height: 80px;
    width: 10px;
    border-radius: 5px;
    bottom: -70px;
    left: 45px;
    transform: rotate(-15deg);
    transform-origin: top;
    animation: tail 4s infinite;
}

@keyframes tail {
    50% {
        transform: rotate(10deg);
    }
}

.ear {
    height: 0;
    width: 0;
    border-bottom: 40px solid #2d2623;
    border-right: 33px solid transparent;
    position: relative;
    bottom: 12px;
}

.ear::before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-bottom: 40px solid #2d2623;
    border-left: 33px solid transparent;
    bottom: -40px;
    left: 17px;
}

.moon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: -15px 8px 0 1px #e8ae4a;
    position: absolute;
    left: 50px;
    top: 60px;
}


/* Cat on the floor */
.cat-container {
    height: 400px;
    width: 200px;
    position: relative;
    margin: auto;
    right: -60%;
    top: 165px;
    transform: scale(0.7);
}

.cat {
    position: relative;
    top: 150px;
    left: 50px;
}

.face, .face2 {
    height: 90px;
    width: 150px;
    border-radius: 30px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.face {
    background-color: var(--orange-cat-fur-colour);
    overflow: hidden;
}

.tabby .face {
    background-color: var(--tabby-cat-fur-colour);
}

.grey .face {
    background-color: var(--grey-cat-fur-colour);
}

.stripe-vertical {
    background-color: var(--orange-cat-fur-dark-colour);
    height: 30px;
    width: 13px;
    position: relative;
    /* left: 65px; */
    border-radius: 50%;
    top: -15px
}

.tabby .stripe-vertical {
    background-color: var(--tabby-cat-fur-dark-colour);
}

.grey .stripe-vertical {
    background-color: var(--grey-cat-fur-dark-colour);
}

.stripe-vertical1 {
    left: 50px;
}

.stripe-vertical2 {
    height: 40px;
    width: 18px;
    left: 50%;
    transform: translateX(-50%);
    top: -45px;
}

.stripe-vertical3 {
    left: 88px;
    top: -82px;
}

.ear-l, .ear-r {
    width: 0;
    height: 0;
    border-bottom: 50px solid var(--orange-cat-fur-colour);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: relative;
    z-index: -1;
}

.tabby .ear-l, .tabby .ear-r {
    border-bottom: 50px solid var(--tabby-cat-fur-colour);
}

.grey .ear-l, .grey .ear-r {
    border-bottom: 50px solid var(--grey-cat-fur-colour);
}

.ear-l {
    bottom: 35px;
    transform: rotate(-30deg);
}

.ear-r {
    bottom: 85px;
    left: 110px;
    transform: rotate(30deg);
}

.inner {
    width: 0;
    height: 0;
    border-bottom: 50px solid var(--orange-cat-skin-colour);
    position: relative;
}

.tabby .inner {
    border-bottom: 50px solid var(--tabby-cat-skin-colour);
}

.grey .inner {
    border-bottom: 50px solid var(--grey-cat-skin-colour);
}

.inner1 {
    border-left: 25px solid transparent;
    right: 25px;
}

.inner2 {
    border-right: 25px solid transparent;
}

.eye-l, .eye-r {
    background-color: var(--orange-cat-iris-colour);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
}

.tabby .eye-l, .tabby .eye-r {
    background-color: var(--tabby-cat-iris-colour);
}

.grey .eye-l, .grey .eye-r {
    background-color: var(--grey-cat-iris-colour);
}

.eye-l {
    bottom: 75px;
    left: 30px;
}

.eye-r {
    bottom: 105px;
    left: 90px;
}

.eyeball {
    background-color: var(--orange-cat-pupil-colour);
    height: 24px;
    width: 24px;
    border-radius: 50%;
    position: relative;
    top: 3px;
    left: 3px;
}

.tabby .eyeball {
    background-color: var(--tabby-cat-pupil-colour);
}

.grey .eyeball {
    background-color: var(--grey-cat-pupil-colour);
}

.nose {
    height: 0;
    width: 0;
    border-top: 8px solid var(--orange-cat-skin-colour);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: relative;
    bottom: 110px;
    left: 68px;
}

.tabby .nose {
    border-top: 8px solid var(--tabby-cat-skin-colour);
}

.grey .nose {
    border-top: 8px solid var(--grey-cat-skin-colour);
}

.l1, .l2 {
    background-color: var(--orange-cat-skin-colour);
    height: 8px;
    width: 1px;
    position: relative;
}

.tabby .l1, .tabby .l2 {
    background-color: var(--tabby-cat-skin-colour);
}

.grey .l1, .grey .l2 {
    background-color: var(--grey-cat-skin-colour);
}

.l1 {
    transform: rotate(45deg);
    right: 4px;
    bottom: 1.5px;
}

.l2 {
    transform: rotate(-45deg);
    bottom: 9.5px;
    left: 3px;
}

.overlap-con {
    display: grid;
    grid-template-columns: 1fr;
}


.body, .body2 {
    height: 120px;
    width: 130px;
    position: relative;
    left: 30px;
    border-radius: 0 65px 0 0;
    bottom: 5px;
    grid-row-start: 1;
    grid-column-start: 1;
}

.body {
    background-color: var(--orange-cat-fur-colour);
    overflow: hidden;
}

.tabby .body {
    background-color: var(--tabby-cat-fur-colour);
}

.grey .body {
    background-color: var(--grey-cat-fur-colour);
}

.stripe-horizontal {
    background-color: var(--orange-cat-fur-dark-colour);
    height: 30px;
    width: 90px;
    position: relative;
    left: 65px;
    border-radius: 50%;
    bottom: 5px;
}

.tabby .stripe-horizontal {
    background-color: var(--tabby-cat-fur-dark-colour);
}

.grey .stripe-horizontal {
    background-color: var(--grey-cat-fur-dark-colour);
}

.stripe-horizontal1 {
    top: 15px;
}

.stripe-horizontal2 {
    top: 24px;
    left: 80px;
}

.paw-l, .paw-r {
    background-color: var(--orange-cat-fur-colour);
    height: 10px;
    width: 22px;
    position: relative;
    border-radius: 0 0 10px 10px;
}

.tabby .paw-l, .tabby .paw-r {
    background-color: var(--tabby-cat-fur-colour);
}

.grey .paw-l, .grey .paw-r {
    background-color: var(--grey-cat-fur-colour);
}

.paw-l {
    top: 119px;
}

.paw-r {
    top: 109px;
    left: 50px;
}

.tail {
    background-color: var(--orange-cat-fur-colour);
    width: 100px;
    height: 20px;
    position: relative;
    top: 80px;
    left: 100px;
    border-radius: 0 20px 20px 0;
}

.tabby .tail {
    background-color: var(--tabby-cat-fur-colour);
}

.grey .tail {
    background-color: var(--grey-cat-fur-colour);
}

.shadow {
    background-color: rgba(8, 8, 8, 0.5);
    height: 30px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    bottom: 15px;
    left: 20px;
    z-index: -1;
}

/* MediaQueries */
@media only screen and (max-width: 950px) {
    .cat-container {
        height: 160px;
        right: 0;
        top: -80px;
    }
}

/* Popup cat */
.popup-cat-container {
    height: 80px;
    width: 120px;
    position: relative;
    margin: auto;
    top: 47.5%;
    left: 34%;
    transform: translateX(-50%) scale(0.7);
}

.popup-cat {
    position: relative;
    bottom: 40px;
    left: 40px;
    transition: 1s;
    width: 120px;
    height: 140px;
    transform: translateY(-60px);
    z-index: -1;
}

.popup-cat-face {
    height: 140px;
    width: 120px;
    background-color: var(--popup-black-cat-fur-colour);
    border-radius: 50%;
}

.grey .popup-cat-face {
    background-color: var(--popup-grey-cat-fur-colour);
}

.popup-cat-lower {
    height: 40px;
    background-color: var(--popup-black-cat-fur-colour);
    width: 140px;
    border-radius: 0 0 140px 140px;
    position: relative;
    top: 60px;
    right: 10px;
}

.grey .popup-cat-lower {
    background-color: var(--popup-grey-cat-fur-colour);
}

.popup-cat-ear-l, .popup-cat-ear-r {
    height: 0;
    width: 0;
    border-bottom: 35px solid var(--popup-black-cat-fur-colour);
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    position: relative;
}

.grey .popup-cat-ear-l, .grey .popup-cat-ear-r {
    border-bottom: 35px solid var(--popup-grey-cat-fur-colour);
}

.popup-cat-ear-l {
    bottom: 52px;
    transform: rotate(-30deg);

}

.popup-cat-ear-r {
    bottom: 87px;
    left: 87px;
    transform: rotate(40deg);
}

.popup-cat-eye-l, .popup-cat-eye-r {
    height: 15px;
    width: 13px;
    position: relative;
}

.popup-cat-eye-l {
    bottom: 65px;
    left: 23px;
}

.popup-cat-eye-r {
    bottom: 80px;
    left: 80px;
}

.popup-cat-eye {
    background-color: var(--popup-black-cat-iris-colour);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    animation: blink 5s infinite;
    box-shadow: 0px 0px 0px 2px var(--popup-black-cat-eye-colour);
}

.grey .popup-cat-eye {
    background-color: var(--popup-grey-cat-iris-colour);
    box-shadow: 0px 0px 0px 2px var(--popup-grey-cat-eye-colour);
}

@keyframes blink {
    20% {
        transform: scaleY(0);
    }

    45% {
        transform: scaleY(1);
    }
}

.popup-cat-nose {
    width: 0;
    height: 0;
    border-top: 10px solid var(--popup-black-cat-nose-colour);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: relative;
    bottom: 72px;
    left: 48px;
}

.grey .popup-cat-nose {
    border-top: 10px solid var(--popup-grey-cat-nose-colour);
}

.popup-cat-hat {
    height: 0;
    width: 0;
    border-bottom: 100px solid var(--popup-black-cat-hat-colour);
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    position: relative;
    bottom: 218px;
    left: 40px;
    transform: rotate(10deg);
}

.grey .popup-cat-hat {
    border-bottom: 100px solid var(--popup-grey-cat-hat-colour)
}

.popup-cat-deco {
    position: relative;
    right: 2px;
    top: 2px;
}

.popup-cat-d1, .popup-cat-d2, .popup-cat-d3, .popup-cat-d4 {
    background-color: var(--popup-black-cat-deco-colour);
    height: 40px;
    width: 5px;
    position: relative;
}

.grey .popup-cat-d1, .grey .popup-cat-d2, .grey .popup-cat-d3, .grey .popup-cat-d4 {
    background-color: var(--popup-grey-cat-deco-colour);
}

.popup-cat-d1 {
    top: -20px;
}

.popup-cat-d2 {
    transform: rotate(45deg);
    bottom: 60px;
}

.popup-cat-d3 {
    transform: rotate(90deg);
    bottom: 100px;
}

.popup-cat-d4 {
    transform: rotate(135deg);
    bottom: 140px;
}

.box {
    height: 120px;
    width: 200px;
    background-color: #ffff9d;
    position: relative;
    background-image: radial-gradient(#f7dd5e 5px, transparent 5px);
    background-size: 35px 35px;
    background-position: -5px -12px;
}

.b1, .b2 {
    background-color: #ffff9d;
    height: 8px;
    width: 50px;
    position: relative;
}

.b1 {
    right: 48px;
    transform: rotate(-20deg);
    transform-origin: right;
}

.b2 {
    left: 198px;
    bottom: 8px;
    transform-origin: left;
    transform: rotate(20deg);
}

@media only screen and (max-width: 950px) {
    .popup-cat-container {
        top: 105.5%;
        left: -27%;
    }
}