.heart {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 45%;
    left: 50%;
    background-color: #ff3838;
    transform: translate(-50%, -50%) rotate(45deg);
    /* animation: heartbeat 1.4s linear infinite; */
}

.heart::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff3838;
    transform: translateY(-50%);
    border-radius: 50%;
}

.heart::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff3838;
    transform: translateX(-50%);
    border-radius: 50%;
}


@keyframes pulse {
    0% {
        transform: translate(-50%, -50%) scale(1) rotate(45deg);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2) rotate(45deg);
    }
}

@keyframes throb {
    0% {
        transform: translate(-50%, -50%) scale(1) rotate(45deg);
    }

    10% {
        transform: translate(-50%, -50%) scale(1.1) rotate(45deg);
    }

    20% {
        transform: translate(-50%, -50%) scale(1) rotate(45deg);
    }

    30% {
        transform: translate(-50%, -50%) scale(1.1) rotate(45deg);
    }

    40% {
        transform: translate(-50%, -50%) scale(1) rotate(45deg);
    }

    100% {
        transform: translate(-50%, -50%) scale(1) rotate(45deg);
    }
}

.pulse {
    opacity: 0.2;
    animation: pulse 1500ms infinite linear;
}

.throb {
    animation: throb 2000ms infinite linear;
}

.heart-text {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    text-align: center;
}