/*==================== CAT ===================== */
:root {
    --music-note-color: #fe5f55;
}

/* Setting width to parent element */
.parent {
    width: 260px;
    transform: scale(0.0) translate(0, 0) rotate(0);
    position: absolute;
    animation: music 2.5s 1 linear forwards;
    z-index: 999;
    opacity: 1;
}

/* sitting cat */
.cat .parent {
    top: 40px;
    left: -30px;
}

.kitty .parent {
    top: -20px;
    left: -50px;
}

.popup-cat .parent {
    top: 60px;
    left: -50px;
}

.music-note-level-1,
.music-note-level-2,
.music-note-level-5 {
    display: flex;
    justify-content: space-between;
}

/* Setting width and position to music-note-level div elements */
.music-note-level-1,
.music-note-level-2,
.music-note-level-5 {
    position: relative;
    width: 120px;
}

/* Music Notes bottom style */
.music-note {
    height: 40px;
    width: 50px;
    border-radius: 50%;
}

.music-note.music-note-1,
.music-note.music-note-1::after,
.music-note.music-note-2,
.music-note.music-note-2::after,
.music-note.music-note-2::before,
.music-note.music-note-4,
.music-note.music-note-4::before,
.music-note.music-note-4::after {
    background-color: var(--music-note-color);
}

/* Music Notes bars style */
.music-note.music-note-3,
.music-note.music-note-3::before,
.music-note.music-note-3::after {
    background-color: var(--music-note-color);
}

.music-note::before,
.music-note::after {
    position: absolute;
    top: -80px;
}

.music-note::after,
.music-note.music-note-4::before {
    content: "";
    height: 100px;
    width: 10px;
}

.music-note.music-note-1::after,
.music-note.music-note-3::after,
.music-note.music-note-4::before {
    right: 70px;
}

.music-note.music-note-2::after,
.music-note.music-note-4::after {
    right: 0;
}

.music-note.music-note-2::before {
    content: "";
    height: 10px;
    width: 60px;
    right: 10px;
}

.music-note.music-note-3::before {
    content: "";
    height: 10px;
    width: 30px;
    right: 40px;
}

.music-note.music-note-4::after {
    content: "";
    background: transparent;
    height: 10px;
    border: 10px solid var(--music-note-color);
    right: 40px;
    width: 40px;
    border-right: none;
    border-left: none;
}

@keyframes music {
    10% {
        transform: scale(0.4) translate(40px, -40px) rotate(-2deg);
        opacity: 1;
    }

    50% {
        transform: scale(0.4) translate(200px, -200px) rotate(-10deg);
        opacity: 1;
    }

    90% {
        opacity: 1;

    }

    100% {
        transform: scale(0.4) translate(400px, -400px) rotate(10deg);
        opacity: 0;
    }
}

.clicktest1, .clicktest2 {
    width: 20px;
    height: 20px;
    background-color: red;
    z-index: 999;
}