:root {
    --top: 10%;
    --right: 10%;
}

.night {
    position: fixed;
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#shooting-star {
    display: inline-block;
    position: absolute;
    right: var(--right);
    top: var(--top);
    width: 100px;
    height: 2px;
    background: linear-gradient(
        -45deg,
        rgba(95, 145, 255, 1),
        rgba(0, 0, 255, 0)
    );
    border-radius: 999px;
    transform: translate3d(0px, 0px, 0px) rotateZ(135deg);
    filter: drop-shadow(0 0 6px rgba(105, 155, 255, 1));
    animation: tail 3000ms ease-in-out infinite,
        shooting 3000ms ease-in-out infinite,
        delay-animation 6000ms linear infinite;
}

#shooting-star::before {
    display: inline-block;
    content: "";
    position: absolute;
    /* top: calc(50% - 1px); */
    right: 0;
    /* // width: 30px; */
    background: linear-gradient(
        -45deg,
        rgba(0, 0, 255, 0),
        rgba(95, 145, 255, 1),
        rgba(0, 0, 255, 0)
    );
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
}

#shooting-star::after {
    display: inline-block;
    content: "";
    position: absolute;
    /* top: calc(50% - 1px); */
    right: 0;
    /* // width: 30px; */
    background: linear-gradient(
        -45deg,
        rgba(0, 0, 255, 0),
        rgba(95, 145, 255, 1),
        rgba(0, 0, 255, 0)
    );
    border-radius: 100%;
    animation: shining 3000ms ease-in-out infinite;
}

@keyframes tail {
    0% {
        width: 0;
    }

    30% {
        width: 100px;
    }

    100% {
        width: 0;
    }
}

@keyframes shining {
    0% {
        width: 0;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

@keyframes shooting {
    0% {
        transform: translate3d(0px, 0px, 0px) rotateZ(135deg);
    }

    100% {
        transform: translate3d(-70vw, 70vw, 0px) rotateZ(135deg);
    }
}

@keyframes delay-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    50.01% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
