* {
    padding: 0px;
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 0.025em;
}

.particles-js {
    flex: 1;
    position: fixed;
    height: 100%;
    width: 100%;
}

.background {
    background: rgb(23, 30, 38);
    background: linear-gradient(190deg, #01091b 0%, #1a0a46 100%);
    width: 100%;
    display: flex;
    overflow: hidden;
}

.fullscreen {
    min-height: 110vh;
}

.content {
    width: 100%;
    z-index: 2;
}

.intro {
    color: white;
    justify-content: center;
    width: 48em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 20px;
    line-height: 30px;
}

.intro h1 {
    margin-bottom: 30px;
    font-size: 55px;
    font-family: "Dancing Script", cursive;
}

.music-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.music {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.section {
    position: relative;
    overflow-x: hidden;
    width: 100%;
}

/* .section-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 100px 50px;
    box-sizing: border-box;
    justify-content: center;
    color: white;
} */

.section-content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: 100px 50px;
    box-sizing: border-box;
    justify-content: center;
    color: white;
}

.section-content h1 {
    margin-bottom: 30px;
}

.section-content.white {
    flex-direction: row-reverse;
    background-color: white;
    color: black;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row-start: 1;
    grid-column-start: 1;
}

.white .map-container {
    grid-column-start: 2;
}



.map {
    max-width: 55%;
}

.text-container {
    grid-row-start: 1;
    grid-column-start: 2;
    max-width: 65%;
    justify-self: center;
}

.white .text-container {
    grid-column-start: 1;
}


.popup-cat-container {
    grid-row-start: 1;
    grid-column-start: 1;
}

.cat-container {
    grid-column-start: 1;
    grid-row-start: 1;
}

/* MediaQueries */
@media only screen and (max-width: 1448px) {
    .text-container {
        max-width: 90%;
    }
}

@media only screen and (max-width: 1024px) {
    .map {
        max-width: 80%;
    }
}

@media only screen and (max-width: 950px) {
    .music-container {
        flex-direction: column;
        gap: 30px;
    }

    .section-content,
    .section-content.white {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .section-content {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .map-container {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .white .map-container {
        grid-column-start: 1;
    }

    .popup-cat-container {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .text-container {
        /* max-width: 40%; */
        grid-row-start: 2;
        grid-column-start: 1;
    }

    .cat-container {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .map-container,
    .section-content.white>.map-container,
    .text-container {
        max-width: 75%;
        align-items: center;
    }

    .map {
        width: 65%;
    }

    .text-container {
        text-align: center;
    }

    .popup-cat-container {
        top: 105.5%;
        left: -27%;
    }
}

@media only screen and (max-width: 490px) {
    .intro>h1 {
        margin-top: 50px;
    }

    .music-container {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 50px;
    }

    .map-container,
    .section-content.white>.map-container,
    .text-container {
        max-width: 100%;
    }
}