* {
    padding: 0px;
    margin: 0px;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 0.025em;
}

.particles-js {
    flex: 1;
    position: fixed;
    height: 100%;
    width: 100%;
}

.background {
    background: rgb(23, 30, 38);
    background: linear-gradient(190deg, #01091b 0%, #1a0a46 100%);
    width: 100%;
    display: flex;
    overflow: hidden;
}

.fullscreen {
    min-height: 100%;
}

.intro {
    color: white;
    justify-content: center;
    width: 45em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

p {
    font-size: 20px;
    line-height: 30px;
}

.intro h1 {
    margin-bottom: 30px;
    font-size: 55px;
    font-family: "Dancing Script", cursive;
}

.music-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

#hearts {
    position: absolute;
}

.section {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    color: white;
}

.section-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 50px;
    box-sizing: border-box;
    justify-content: center;
}

.section-content h1 {
    margin-bottom: 30px;
}

.section-content.reverse {
    flex-direction: row-reverse;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 40%;
}

.section-content.reverse > .map-container {
    align-items: flex-end;
}

.map {
    max-width: 80%;
}
.text-container {
    max-width: 40%;
}
