* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
}

.intro {
    background: rgb(23, 30, 38);
    background: linear-gradient(190deg, #01091b 0%, #1a0a46 100%);
    width: 100%;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}

.fullscreen {
    min-height: 100%;
}

.content {
    color: white;
    justify-content: center;
    width: 45em;
    max-width: calc(100% - 4em);
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.content p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}

.content h1 {
    font-size: 55px;
    font-family: "Dancing Script", cursive;
}

.music-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section {
    display: flex;
    width: 100%;
    min-height: 100%;
}
